<!DOCTYPE html>
<html>
<head>
    <title>Show Data</title>
</head>
<body>

<h2>Student Data</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Course</th>
    </tr>

    {% for student in students %}
    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.course }}</td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/register">Add More Student</a><br>
<a href="/logout">Logout</a>

</body>
</html>