<!DOCTYPE html>
<html>
<head>
    <title>Flask Static Project</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container">
        <h1>Welcome to Flask Project 🚀</h1>
        <p>This is simple Flask with CSS and JavaScript.</p>

        <button onclick="showMessage()">Click Me</button>
        <p id="message"></p>
    </div>

    <!-- Link JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>